In [1]:
import csv

def leer_csv(ruta_archivo):
    datos = []
    with open(ruta_archivo, encoding='utf-8') as archivo:
        lector = csv.DictReader(archivo)
        for fila in lector:
            datos.append(fila)
    return datos

# Cargar datos
ruta = "data/titanic.csv"
data = leer_csv(ruta)

# Verificar primeras 5 filas
print("Primeras 5 filas del dataset Titanic:")
for fila in data[:5]:
    print(fila)

Primeras 5 filas del dataset Titanic:
{'PassengerId': '1', 'Survived': '0', 'Pclass': '3', 'Name': 'Braund, Mr. Owen Harris', 'Sex': 'male', 'Age': '22', 'SibSp': '1', 'Parch': '0', 'Ticket': 'A/5 21171', 'Fare': '7.25', 'Cabin': '', 'Embarked': 'S'}
{'PassengerId': '2', 'Survived': '1', 'Pclass': '1', 'Name': 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'Sex': 'female', 'Age': '38', 'SibSp': '1', 'Parch': '0', 'Ticket': 'PC 17599', 'Fare': '71.2833', 'Cabin': 'C85', 'Embarked': 'C'}
{'PassengerId': '3', 'Survived': '1', 'Pclass': '3', 'Name': 'Heikkinen, Miss. Laina', 'Sex': 'female', 'Age': '26', 'SibSp': '0', 'Parch': '0', 'Ticket': 'STON/O2. 3101282', 'Fare': '7.925', 'Cabin': '', 'Embarked': 'S'}
{'PassengerId': '4', 'Survived': '1', 'Pclass': '1', 'Name': 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Sex': 'female', 'Age': '35', 'SibSp': '1', 'Parch': '0', 'Ticket': '113803', 'Fare': '53.1', 'Cabin': 'C123', 'Embarked': 'S'}
{'PassengerId': '5', 'Survived': '0', 'Pclass': '3', 'Name': 'Allen, Mr. William Henry', 'Sex': 'male', 'Age': '35', 'SibSp': '0', 'Parch': '0', 'Ticket': '373450', 'Fare': '8.05', 'Cabin': '', 'Embarked': 'S'}

In [2]:
from estadistica.cuantitativa import EstadisticaCuantitativa

# ---- Variables cuantitativas ----
edades = []
tarifas = []
familiares = []

for fila in data:
    try:
        edad = float(fila['Age']) if fila['Age'] else None
        tarifa = float(fila['Fare']) if fila['Fare'] else None
        sibsp = int(fila['SibSp']) if fila['SibSp'] else 0
        parch = int(fila['Parch']) if fila['Parch'] else 0
        fam = sibsp + parch

        if edad is not None:
            edades.append(edad)
        if tarifa is not None:
            tarifas.append(tarifa)
        familiares.append(fam)
    except:
        continue

# ---- Crear instancias de la clase ----
edad_est = EstadisticaCuantitativa(edades)
tarifa_est = EstadisticaCuantitativa(tarifas)
familia_est = EstadisticaCuantitativa(familiares)

# ---- Mostrar resultados ----
print(" Estad√≠sticas de Edad:")
print(edad_est.resumen())

print("\n Estad√≠sticas de Tarifa:")
print(tarifa_est.resumen())

print("\n Estad√≠sticas de Familiares a bordo:")
print(familia_est.resumen())

 Estad√≠sticas de Edad:
{'media': 29.69911764705882, 'mediana': 28.0, 'moda': [24.0], 'varianza': 211.01912474630805, 'desviacion_estandar': 14.526497332334042, 'percentil_25': 20.125, 'percentil_50': 28.0, 'percentil_75': 38.0}

 Estad√≠sticas de Tarifa:
{'media': 32.204207968574636, 'mediana': 14.4542, 'moda': [8.05], 'varianza': 2469.436845743116, 'desviacion_estandar': 49.6934285971809, 'percentil_25': 7.9104, 'percentil_50': 14.4542, 'percentil_75': 31.0}

 Estad√≠sticas de Familiares a bordo:
{'media': 0.9046015712682379, 'mediana': 0.0, 'moda': [0.0], 'varianza': 2.603248464671686, 'desviacion_estandar': 1.6134585413550873, 'percentil_25': 0.0, 'percentil_50': 0.0, 'percentil_75': 1.0}

In [3]:
from estadistica.cualitativa import EstadisticaCualitativa

# ---- Variables cualitativas ----
sexos = [fila['Sex'] for fila in data]
clases = [fila['Pclass'] for fila in data]
supervivencia = [fila['Survived'] for fila in data]

# ---- Crear instancias ----
sexos_est = EstadisticaCualitativa(sexos)
clases_est = EstadisticaCualitativa(clases)
superv_est = EstadisticaCualitativa(supervivencia)

# ---- Mostrar resultados ----
print(" Estad√≠sticas de Sexo:")
print(sexos_est.resumen())

print("\n Estad√≠sticas de Clase:")
print(clases_est.resumen())

print("\n Estad√≠sticas de Supervivencia:")
print(superv_est.resumen())

 Estad√≠sticas de Sexo:
{'frecuencias': {'male': 577, 'female': 314}, 'porcentajes': {'male': 64.75869809203144, 'female': 35.24130190796858}, 'moda': ['male']}

 Estad√≠sticas de Clase:
{'frecuencias': {'3': 491, '1': 216, '2': 184}, 'porcentajes': {'3': 55.106621773288445, '1': 24.242424242424242, '2': 20.65095398428732}, 'moda': ['3']}

 Estad√≠sticas de Supervivencia:
{'frecuencias': {'0': 549, '1': 342}, 'porcentajes': {'0': 61.61616161616161, '1': 38.38383838383838}, 'moda': ['0']}

In [7]:
import pandas as pd

# Opcional: mostrar todos los decimales con 2 cifras
pd.options.display.float_format = '{:,.2f}'.format

In [8]:
# Cuantitativas
cuantitativas = {
    "Edad": edad_est.resumen(),
    "Tarifa": tarifa_est.resumen(),
    "Familiares": familia_est.resumen()
}

# Crear DataFrame
cuant_df = pd.DataFrame(cuantitativas).T  # .T para transponer y que las variables queden como filas
cuant_df.index.name = "Variable"
cuant_df

,media,mediana,moda,varianza,desviacion_estandar,percentil_25,percentil_50,percentil_75
Variable,,,,,,,,
Edad,29.70,28.00,[24.0],211.02,14.53,20.12,28.00,38.00
Tarifa,32.20,14.45,[8.05],"2,469.44",49.69,7.91,14.45,31.00
Familiares,0.90,0.00,[0.0],2.60,1.61,0.00,0.00,1.00

In [12]:
# Sexo
sexos_df = pd.DataFrame({
    "Frecuencia": sexos_est.frecuencias(),
    "Porcentaje": sexos_est.porcentajes()
})
sexos_df.index.name = "Sexo"

# Clase
clases_df = pd.DataFrame({
    "Frecuencia": clases_est.frecuencias(),
    "Porcentaje": clases_est.porcentajes()
})
clases_df.index.name = "Clase"

# Supervivencia
superv_df = pd.DataFrame({
    "Frecuencia": superv_est.frecuencias(),
    "Porcentaje": superv_est.porcentajes()
})
superv_df.index.name = "Supervivencia"

In [13]:

# Mostrar
print(" Variable cualitativa Sexo")
display(sexos_df)

üßë‚Äçü§ù‚Äçüßë Sexo

        Frecuencia  Porcentaje
Sexo
male           577       64.76
female         314       35.24

In [14]:
print("Variable cualitativa Clase")
display(clases_df)

üéüÔ∏è Clase

       Frecuencia  Porcentaje
Clase
3             491       55.11
1             216       24.24
2             184       20.65

In [15]:
print("Variable Supervivencia")
display(superv_df)

üõü Supervivencia

               Frecuencia  Porcentaje
Supervivencia
0                     549       61.62
1                     342       38.38